<% content_for :title do %>
All Event
<% end %>

<%= link_to 'New Event', new_event_path %>

<div id="content" class="clrfix">
    <section id="hero">
        <% @events.each do |event| %>

                        <div id="gallery" class="imageGallery" style="line-height: 10px;">
                            <div id="Container0" style="display:block; float:right; width:20.95%; vertical-align: middle;">
                                
                                    <div class="galleryImageHolder">
                                            <%=link_to(image_tag(event.avatar,:width=> "60%", :left=>"30.17"), event) %>
                                            

                                    </div>
                            </div>


                        </div>    
        <% end %>
        <%= will_paginate @events %>
        <br />
    </section>
</div>