<% content_for :title do %>
About Us
<% end %>
<div id="content" class="clrfix">
    <section id="hero" >
    	<section id ="hero2">
	<center><%=link_to(image_tag("Logo1.png",:size => "350x350")) %></center>
	<table style="width:100%;">
		<tr>
			<td width="70%;" padding="none">
				<h2>Who We Are ?</h2>
				<p style="text-align:justify;">At EME, we believe that face-to face communication is very important for people. People should gather to learn, grow, get inspired, get healthy, give back, and celebrate together. So we're building this place to help people find and attend events that feed their interests, while connecting them with others who share their passions.</p>
				<p style="text-align:justify;">We will provide you a safe, convenient place to get tickets to all kinds of events, and an easy way to get your tickets online! In the meantime, if you are event organiser, we can help to sell your tickets when they can't go.   </p>
			</td>
		 	<td width="30%">
		 		<center>
		 		<ul>
		 			<li><%=link_to(image_tag("a1.jpg",:width=>"80")) %></br>
		        Kiong</br></li>
		        <li><%=link_to(image_tag("a2.jpg",:width=>"80")) %></br>
		        Teo Yi Chin</br></li>
		        <li><%=link_to(image_tag("a3.jpg",:width=>"80")) %></br>
		        Lily Su</br></li>
		    </ul></center>
		    </td>
		 </tr>	    
	</table>


			
		</section>
	</section>
</div>
