<% content_for :title do %>
All Event
<% end %>
<p></p>
<div class="container">
<div class="panel">
	<ul class="deal">
		<li class="deal span4">
			<div class="content">
				<div class="thumb">
					<a href="http://www.groupon.my/deals/klang/Taman-Sari-Brasserie/717769382" target="_blank">
						<img alt="Buffet @ 5-Star Hotel Istana" class="lazy" data-original="http://static.my.groupon-content.net/39/44/1384829624439.jpg" src="/assets/grey.gif" />
					</a>
				</div>
			</div>
		</li>

		<li class="deal span4">
			<div class="content">
				<div class="thumb">
					<a href="http://www.groupon.my/deals/klang/Taman-Sari-Brasserie/717769382" target="_blank">
						<img alt="Buffet @ 5-Star Hotel Istana" class="lazy" data-original="http://static.my.groupon-content.net/39/44/1384829624439.jpg" src="/assets/grey.gif" />
					</a>
				</div>
			</div>
		</li>
		<li class="deal span4">
			<div class="content">
				<div class="thumb">
					<a href="http://www.groupon.my/deals/klang/Taman-Sari-Brasserie/717769382" target="_blank">
						<img alt="Buffet @ 5-Star Hotel Istana" class="lazy" data-original="http://static.my.groupon-content.net/39/44/1384829624439.jpg" src="/assets/grey.gif" />
					</a>
				</div>
			</div>
		</li>
		<li class="deal span4">
			<div class="content">
				<div class="thumb">
					<a href="http://www.groupon.my/deals/klang/Taman-Sari-Brasserie/717769382" target="_blank">
						<img alt="Buffet @ 5-Star Hotel Istana" class="lazy" data-original="http://static.my.groupon-content.net/39/44/1384829624439.jpg" src="/assets/grey.gif" />
					</a>
				</div>
			</div>
		</li>
</ul>
</div>
</div>
