
<div id="content" class="clrfix">
    <section id="hero">
<h1>Event Publish</h1>

<p>Find me in app/views/page/event_publish.html.erb</p>

<p>connect to different pages of event being published out/show</p>


<p>*need to have something like _form.html.erb tat page to be used</p>

Event Title : </br>
Venue Name :</br>
Street Address: </br>
Date *        : </br>
Time *        : </br>
Category      : </br>
Organiser Details: </br>
Guest List: </br>
Guest who bought the ticket:</br>
Left ____ Ticket!</br>
Due date for buying the ticket :</br>
Quantitiy of ticket bought:</br>
Total amount of price:</br>

	<table>
		<tr>
			<th>Ticket Name *</th>
			<th>Quantity Available *</th>
			<th>Price *</th>
		</tr>
		<tr>
			<td>
				<INPUT TYPE="TEXT" NAME="ticket_name" SIZE="5">
			</td>
			<td>
				<INPUT TYPE="TEXT" NAME="quantity_available" SIZE="5">
			</td>
			<td><INPUT TYPE="TEXT" NAME="ticket_price" SIZE="5">
			</td>
		</tr>
		<tr>
			<td>
				<INPUT TYPE="TEXT" NAME="ticket_name" SIZE="5">
				</td>
			<td><INPUT TYPE="TEXT" NAME="quantity_available" SIZE="5">
			</td>
			<td><INPUT TYPE="TEXT" NAME="ticket_price" SIZE="5">
			</td>
		</tr>
	</table>

button -buy ticketamount of ticket
</section>
</div>