<% content_for :title do %>
Home
<% end %>

 <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../assets/images.png"/>
        </div>

        <div class="item">
          <img src="/assets/js.jpg"/>
        </div>

        <div class="item">
          <img src="../assets/poster_stress.jpg"/>
        </div>

      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
 <!-- /.carousel -->
</div>