<div id="content" class="clrfix">
    <section id="hero">

<p></p>	
<h1>My Ticket</h1>
<p>Find me in app/views/page/my_ticket.html.erb</p>
should not be show on menu when user havent log in
<h3>Confirmed Ticket</h3>
------------------------
</br>
</br>
<h3>Reserved Ticket</h3>
------------------------
</br>
</br>
</br>
</section>
</div>